{
  "plugins": [
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "airbnb-base"
  ],
  "rules": {
    "strict": ["error", "global"],
    "camelcase": "error",
    "no-restricted-syntax": "warn",
    "no-await-in-loop": "off",
    "no-console": "off",
    "arrow-parens": ["error","always"],
    "node/exports-style": [
      "error",
      "module.exports"
    ],
    "node/no-missing-require": ["error", {
      "allowModules": ["http2"]
    }]
  }
}